.home-container {
  max-width: 1900px;
}

.hero-container {
  /* border: 2px solid red; */
  max-width: 1200px;
  width: 100%;
  margin: 50px auto 20px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 30px 0px;
  border-radius: 10px;
  border: 1px solid black;
}

.hero-banner {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: 2px 30px;
  gap: 10px;
  width: 50%;
}

.tracking-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: 5px 30px;
  padding: 10px 10px;
  gap: 10px;
  background: white;
  border-radius: 10px;
  width: 50%;
}

.sub-hero {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  max-width: 1200px;
  width: 100%;
  margin: 20px auto;
}

.feture-container {
  text-align: center;
  padding: 30px 0px;
  /* background: lightblue; */
  border: 1px solid black;
  border-radius: 10px;
  padding: 5px 20px;
}

.calculator-section {
  max-width: 1200px;
  width: 100%;
  margin: 20px auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
